.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  padding-left: 43px;
  padding-right: 43px;
  margin-bottom: 90px;
}

.gallery__images {
  width: 100%;
}
