.intro {
  margin: 0 auto;
  max-width: 984px;
}

.intro__title {
  max-width: 800px;
  font-weight: 900;
  font-size: 54px;
  margin-bottom: 40px;
  margin-top: 92px;
}

.intro__text {
  max-width: 720px;
  margin: 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 132px;
}

.intro__author {
  text-align: right;
  margin-bottom: 39px;
}

.intro__subtitle {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
}

@media screen and (min-width: 1021px) {
  .intro__title {
    font-family: Inter;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
  }
  .intro__text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
  }
  .intro__author {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
  }
  .intro__subtitle {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
  }
}

@media screen and (max-width: 1020px) {
  .intro__title {
    font-size: 45px;
    font-weight: 900;
    line-height: 49px;
    max-width: 707px;
  }
  .intro__text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
  }
  .intro__author {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
  }
  .intro__subtitle {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    max-width: 720px;
  }
}

@media screen and (max-width: 560px) {
  .intro__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    margin-top: 60px;
  }
  .intro__subtitle {
    font-size: 24px;
    font-weight: 400;
    max-width: 288px;
    width: 100%;
  }
}
