.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "title artist" "image description" "button description";
  max-width: 984px;
  gap: 40px;
}

.place__artists {
  align-self: first baseline;
  margin: 0 16px 0 16px;
}

.place__title {
  font-family: Inter;
  font-size: 72px;
  font-weight: 900;
  max-height: 152px;
  max-width: 460px;
  grid-area: title;
  align-self: first baseline;
}

.place__image {
  margin: 0;
  max-width: 1184px;
  width: 100%;
  object-fit: cover;
  align-self: flex-start;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  grid-area: image;
}

.place__artist {
  max-width: 456px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  letter-spacing: 0.12em;
  text-align: left;
  color: #aaaaaa;
  grid-area: artist;
}

.place__name {
  max-width: 455px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.place__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;
  text-align: left;
  grid-area: description;
}

.place__button {
  background: linear-gradient(
    90deg,
    rgb(2, 120, 254) 0%,
    rgb(0, 58, 123) 99.98%
  );
  box-shadow: 5px 5px 10px #00000040;
  height: 48px;
  width: 289px;
  border: none;
  color: white;
  grid-area: button;
}

.place__button:hover {
  background: linear-gradient(90deg, #0278fe40 0%, #003a7b40 99.98%);
}

@media screen and (max-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-template-rows: 1fr 340px;
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 72px;
  }
  .place__title {
    font-size: 42px;
  }
}

@media screen and (max-width: 590px) {
  .place {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .place__title {
    font-size: 32px;
    margin: auto;
  }
  .place__description {
    font-size: 16px;
  }
  .place__artists {
    margin-bottom: 8px;
  }
  .place__artist {
  }
  .place__button {
    margin: auto;
  }
}
